<div class="appTable">
	<h3 class="title">Anúncios</h3>
	<div class= "table-responsive">
		<table class="table-bordered table-hover" style="width:100%">
		  <thead>
				<tr>
					<th>Título</th>
					<th>Tipo</th>
					<th>Postado</th>
					<th>Preço</th>
				</tr>
			</thead>
		  <tbody>
				<tr ng-repeat="ad in adList">
					<!--td>{{ad.title}}</td>
					<td>{{ad.type}}</td>
					<td>{{ad.date}}</td>
					<td>{{ad.price}}</td-->
					<td>{{ad}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
