<nav class="nav navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
 		<ul class="nav navbar-nav">
 			<li><a href="#user"><font color="white">$ ad-extreme</font></a></li>
        <li><a href="#adList"><font color="white">Anúncios</font></a></li>
        <li><a href="#adRegister"><font color="white">Cadastrar Anúncio</font></a></li>
 		</ul>
 		<ul class="nav navbar-nav navbar-right" style="margin-right: 20px">
 			<li><a href="#home"><font color="white">Logout</font></a></li>
 		</ul>
 	</div>
</nav>

<h1 style="margin-top: 80px">LISTAGEM DE ANUNCIOS</h1>
