<nav class="nav navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
 		<ul class="nav navbar-nav">
 			<li><a href="#user"><font color="white">$ ad-extreme</font></a></li>
        <li><a href="#adList"><font color="white">Anúncios</font></a></li>
        <li><a href="#adRegister"><font color="white">Cadastrar Anúncio</font></a></li>
 		</ul>
 		<ul class="nav navbar-nav navbar-right" style="margin-right: 20px">
 			<li><a href="#home"><font color="white">Logout</font></a></li>
 		</ul>
 	</div>
</nav>

<div class="appTable">
	<h3 class="title">Anúncios</h3>
	<div class= "table-responsive">
		<table class="table-bordered table-hover" style="width:100%">
		  <thead>
				<tr>
					<th>Título</th>
					<th>Tipo</th>
					<th>Postado</th>
					<th>Preço</th>
				</tr>
			</thead>
		  <tbody>
				<tr ng-repeat="ad in adList">
					<!--td>{{ad.title}}</td>
					<td>{{ad.type}}</td>
					<td>{{ad.date}}</td>
					<td>{{ad.price}}</td-->
					<td>{{ad}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
