<nav class="nav navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
 		<ul class="nav navbar-nav">
 			<li><a href="#user"><font color="white">$ ad-extreme</font></a></li>
        <li><a href="#adList"><font color="white">Anúncios</font></a></li>
        <li><a href="#adRegister"><font color="white">Cadastrar Anúncio</font></a></li>
 		</ul>
 		<ul class="nav navbar-nav navbar-right" style="margin-right: 20px">
 			<li><a href="#home"><font color="white">Logout</font></a></li>
 		</ul>
 	</div>
</nav>

<div class="appForm">
	<h3 class="title">Cadastrar Anúncio</h3>
	<md-divider></md-divider>
	<form name="adRegisterForm">
		<md-content layout-padding>
		    <div>
		        <md-input-container layout-gt-sm="row">
		        	<label>Título do anuncio</label>
		        	<input type="text" ng-model="ad.title" required>
		        </md-input-container>
				</div>
		</md-content>
		<md-content layout-padding>
		  <div>
				<md-input-container layout-gt-sm="row">
					<label>Preço</label>
					<input type="number" ng-model="ad.price" min="0" required>
				</md-input-container>
			</div>
		</md-content>
		<md-content layout-padding>
			<h4>Tipo:</h4>
			<section layout="row" layout-align="center" layout-wrap>
				<md-radio-group layout="row" ng-model="ad.type" required>
					<md-radio-button value="Movel" class="md-primary">Movel</md-radio-button>
					<md-radio-button value="Imóvel" class="md-primary">Imóvel</md-radio-button>
					<md-radio-button value="Emprego" class="md-primary">Emprego</md-radio-button>
				</md-radio-group>
			</section>
		</md-content>
		{{ad}}
	</form>

	<div>
		<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      		<md-button ng-click="registerAd(ad)" ng-disabled="adRegisterForm.$invalid" class="btn btn-success">Cadastrar</md-button>
			<md-button ng-click="cleanForm()" class="btn btn-danger">Limpar</md-button>
	    </section>
	</div>
</div>
