<nav class="nav navbar navbar-default navbar-fixed-top">
  		<div class="container-fluid">
    		<ul class="nav navbar-nav">
    			<li><a href="#home"><font color="white">$ ad-extreme</font></a></li>
    		</ul>
    		<ul class="nav navbar-nav navbar-right" style="margin-right: 20px">
    			<li><a href="#register"><font color="white">Cadastro</font></a></li>
    			<li><a href="#login"><font color="white">Login</font></a></li>
    		</ul>
  		</div>
	</nav>

<h1 style="font-size: 80px; margin-left: 50px; margin-top: 100px">$ ad-extreme</h1>
<h3 style="margin-left: 50px;">Negociar é nosso lema !!</h3>