.nav{
	background-color: #0066cc;
}
.confirm-btn{
	background-color: #33cc33;
}
.clean-btn{
	background-color: #b30000;
}
.appForm{
	margin-left: 50px;
	margin-top: 100px;
	padding-left: 400px;
	width: 1400px;
}
.title{
	color: #3333ff;
	margin-left: 15px;
}